body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(29, 27, 27);
  margin: 15px;
}
#pagina{
    text-align: center;
}
#nome {
 text-align: center;
color: rgb(255, 255, 255);
}
#introdução{
color: brown;
}
#hobies{
    color: rgba(198, 223, 208, 0.938);
}
#gosto {
    color: rgb(90, 156, 23);
}
#GitHub{
    text-align: center;
    color: aqua;
}